@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; 
body{
	font-family: sans-serif;
    width: 100%;
	background: url(images/bg.jpg) no-repeat;
	height: auto;
	margin: 0;
	background-size: cover;
	
}

.btn{
	background-color: transparent;
	border: 2px  solid #4caf50 !important;
    width:40% ;
	color: white !important;
	margin-right: 18px;

}

#b1{
	
    width:52% ;
    margin-right: 0px;

}

.log{

	position: absolute;
	 top: 32%;
    left: 44%;
    transform:translate(-50%,-50%);
    color: white;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
}

.login_box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    color: white;

}

.textbox{
	width: 100%
	overflow: hidden;
	font-size: 20px;
	padding: 8px 0;
	margin: 8px 0;
	border-bottom: 1px solid #45a42a;

}

.textbox i {
    text-align: center;
    text-align: left;
}

.textbox input{
	outline: none;
	border: none;
	background : none;
	color: white;
	font-size: 18px;
	width: 80px;
	margin: 0 10px;
}
